<!DOCTYPE html>
<html lang="en" dir="ltr">


  <head>
    <meta name="viewport" content="width=device-width,
  　initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>Umbrella</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <meta name="twitter:card" content="Summary" /> <!--①-->
    <meta name="twitter:site" content="@itshrk" /> <!--②-->
    <meta property="og:url" content="https://umbrellasan.herokuapp.com/" /> <!--③-->
    <meta property="og:title" content="Umbrellaで好きな人の気持ちを確かめよう" /> <!--④-->
    <meta property="og:description" content="使い方は簡単！Twitterでログインして好きな人のTwitterアカウントを登録するだけ！お互いが登録し合った時、二人にお知らせします！" /> <!--⑤-->
    <meta name="twitter:image" content="<%= asset_url('logo.jpg') %>" /><!--⑥-->
  </head>
  <body>
  <div class="header">
    <div class="header-logo">
    <a href="/">Umbrella</a>
  </div>
  <div class="main"><br>
    <div class="top">
    <P>「あの時告白しておけばよかった」</P>
    <P>「あの時告白しなければよかった」</P>
    <P>もう一か八かの告白をする必要はありません。</P>
    <p>Umbrellaで好きな人の気持ちを確かめよう！<P>
</div>


    <div class="container">
<a href="/auth/twitter/" class="btn-open">Twitterでログイン</a>
</div>
<div class="howto">
<p>使い方</P></div>
<div class="howtouse">  <p>Twitterでログイン</p><p>↓</p>
  <p>好きな人のTwitterIDを登録</P><p>↓</p>
    <p>結果を確認する</P>
  </div>
<div class="ps">
  <P>一度登録すると何時でも結果を確認できるから</p>
  <P>相手が後からあなたを登録した場合でも大丈夫！</p>
  </div>
</div>
